@import "tailwindcss";
@import "./_nprogress.css";


html,
body,
#root {
  width: 100%;
  height: 100%;
  font-family: "DM Sans", sans-serif;

@apply bg-gray-100
}

@theme {
  --color-textgray: #6a6a6a;
  --color-bordergray: #d9d9d9;
  --color-primary: #0C4394;
  --breakpoint-3xl: 120rem;
}

.sidebar-menu .ant-menu-item-selected {
  background-color: #EDF5FF !important;
  border-right: 3px solid var(--color-primary) !important;
  border-radius: 0 !important;
  width: 100% !important;
}
.ant-menu-item{
  margin-bottom: 4px !important;
}

.sidebar-menu .ant-menu-item-selected .ant-menu-title-content,
.sidebar-menu .ant-menu-item-selected .anticon {
  color: #2063B2 !important;
}
.ant-menu-title-content{
  /* height: 40px !important; */
  font-size: 14px !important;
  font-weight: 400 !important;
  display: flex !important;
  height: 100% !important;
  align-items: anchor-center !important;
}

.sidebar-menu .ant-menu-item {
  margin: 0 0 4px 0 !important;
  padding-left: 24px !important;
  height: 40px !important;
  line-height: 48px !important;
  width: 100% !important;
  border-radius: 0 !important;

}

.sidebar-menu .ant-menu-item-group-title {
  padding: 16px 24px 8px 24px !important;
  font-size: 10px !important;
  font-weight: 400 !important;
  color: #656A73 !important;
  text-transform: uppercase !important;
  letter-spacing: -1.5% !important;
}

/* .sidebar-menu .ant-menu-item-group {
  margin-bottom: 16px !important;
} */

.ant-menu-item-icon{
  font-size: 18px !important;
}

.ant-drawer-body{
  padding: 16px 20px 16px 20px !important;
}
.ant-form-item{
  margin-bottom: 12px !important;
}
.ant-form-item-label{
  padding-bottom: 10px !important;
}
.ant-drawer-header-title{
  flex-direction: row-reverse !important;
}
.ant-drawer-close{
  border: 1px solid #E9E9E9 !important;
  background-color: white !important;
}
.anticon-close{

  font-size: 12px !important;
}


.ant-segmented{
  @apply rounded-full! p-1!
}

.ant-segmented-item{
    @apply rounded-full! px-3!
}

.ant-segmented-item-selected {
  @apply bg-primary! text-white!
}

.ant-segmented-thumb {
  @apply bg-primary! rounded-full!
}
.carousel-slide-wrapper {
  padding: 0 15px;
}

.carousel-image-container {
  position: relative;
  overflow: visible;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-image-container::before {
  content: '';
  position: absolute;
  inset: -10px;
  background: #fff;
  border-radius: 20px;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.carousel-image-container:hover::before {
  opacity: 1;
}

.carousel-image {
  width: 290px;
  height: 241px;
  object-fit: cover;
  display: block;
  border-radius: 23px;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  z-index: 0;
}

.carousel-image-container:hover {
  transform: scale(1.01) rotate(8deg);
  z-index: 10;
}

.carousel-image-container:hover .carousel-image {
  transform: none;
  border-radius: 10px;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.carousel-text-animate {
  animation: fadeUp 1s ease-out both;
}
.carousel-title {
  opacity: 0;
  animation: fadeUp 1s ease-out both;
  animation-delay: 0.3s; /* first delay */
}

.carousel-description {
  opacity: 0;
  animation: fadeUp 1s ease-out both;
  animation-delay: 0.6s; /* comes after title */
}

/* .product-details-table .ant-table {
  background: transparent;
}

.product-details-table .ant-table-thead > tr > th {
  padding: 0 16px 20px;
  border-bottom: 1px solid #e2e2e2;
  font-weight: 500;
} */
.product-details-table .ant-table-cell  {
  font-size: 14px!important;
  font-weight: 500!important;
  color: black!important;
}
.product-details-table .ant-table-thead {
  background: transparent!important;
}
.product-details-table
  .ant-table-thead
  > tr
  > th.ant-table-cell {
  color: #6a6a6a !important;
  background-color: transparent !important;
  font-size: 18px !important;
}
/* .product-details-table .ant-table-tbody > tr > td {
  padding: 16px;
  border-bottom: 1px solid #f1f1f1;
}

.product-details-table .ant-table-tbody > tr:last-child > td {
  border-bottom: none;
} */

.promo-carousel{
  @apply bottom-0!
}

.promo-carousel button {
@apply bg-gray-500!
}

.promo-carousel li.slick-active::after{
@apply bg-black!
}

